/build.log
/chrome-extension
/coverage
/dist/*-cov.*
/dist/*-cov-dev.*
/node_modules
/npm-debug.log
/*.sublime-workspace
/test/unit/bower_components
/test/unit/node_modules
/test/unit/public
/test/unit/test-main.js
/test/unit/work
/src/w3c/specifications
/src/mdn/specifications
/package-lock.json
/test/unit/package-lock.json
