/build.log
/chrome-extension
/coverage
/dist/*-cov.*
/dist/*-cov-dev.*
/node_modules
/npm-debug.log
/*.sublime-workspace
/test/unit/src/bower_components
/test/unit/src/node_modules
/test/unit/src/public
/test/unit/src/test/unit/test-main.js
/test/unit/src/work
/src/w3c/specifications
/src/mdn/specifications
