{
    "presets": [
        "es2015-without-strict",
        "stage-0"
    ],
    "plugins": [
        ["transform-react-jsx", {
            "pragma": "vrdom.createElement"
        }],
        "transform-flow-strip-types",
        "syntax-flow",
        "syntax-jsx",
        ["../../babel-plugin/transform-react-display-name", {
            "pragma": "vrdom.createClass",
            "value": "displayName"
        }]
    ]
}